body{
    background-color: #ebcaca;
}
h1{
    color: rgb(247, 95, 7);
    text-align: center;
    font-size: 4.2em;
    text-shadow: rgb(228, 120, 20) 0.1em 0.1em 0.2em;
}
h2{
    color: rgb(6, 41, 153);
    text-align: center;
    font-size: 2.2em;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    display: inline;
    margin-left: 150px;
    margin-right: 160px;
    font-size: 2.2em;
    color: rgb(36, 107, 214);
}
img{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: left;

}